/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(13, 17, 23);
    
    
}

nav{
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

footer{
   
    height: 150px;
}

      /* Estilo del canvas */
canvas {      
        display: block;
    }

.row{
   height: 100%;
    background: rgb(31, 35, 40);
    
}

.card-body{
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    pointer-events: none; /* Hace que el texto no interfiera con el canvas */
}


label{
    color: #fdfdfd;
}
*/
p, li{
    
    font-size: 10px;

}

@media (max-width: 576px) {

    .card-pricing{
        background: #fdfdfd;
        border-radius: 8px;        
        color: black;
        height: 350px;
    }
    
}


.box {

    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 7px;

    border-radius: 10px;
   
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;


}

.visible {
    opacity: 1;
    transform: translateY(0);
}



.card{
    
    background: rgb(31, 35, 40);
    color: #fdfdfd;
    position: relative;
    
}

.card-pricing{
    background: #fdfdfd;
    border-radius: 10px;
    margin-top: 1px;
    color: black;
    height: 400px;
}



div.card-pricing > h3{
    font-size: 20px;
}

.Currency{
    font-size: 12px;
}
div.card-pricing > p{
    font-size: 12px;
}
div.card-pricing > li{
    font-size: 12px;
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;

}
