/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: rgb(13, 17, 23);*/
    
    
}

.row{
   height: 100%;
    background: rgb(31, 35, 40);
    
}

.card-body{
    height: 350px;
}
.card{
    height: 350px;
}


.card{
    background: rgb(31, 35, 40);
}

h1{
    color: #fdfdfd;
    padding-top: 5%;
    font-size: 1.2rem;
    
}

h2{
    color: #fdfdfd;
    padding-top: 10%;
    font-size: 1.1rem;
}

p, label{
    color: #fdfdfd;
    font-size: 1rem;

}



.box {

    /* background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 10px;
    border-radius: 10px; */

    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 7px;

    border-radius: 10px;
   
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;


}

.visible {
    opacity: 1;
    transform: translateY(0);
}